extends ./main.layout.pug
include ./mixins.pug

block content 
  .welcome-section
    section.hero(id='homepage')
      .container.hero__container
        header.header.hero__header
          a.logo(href='#homepage') ФР

          nav.menu.hero__menu
            - var menuItems = ['Обо мне', 'Навыки', 'Работы', 'Отзывы']
            - var ids = ['#about','#skills','#works','#reviews']
            ul.menu__list
              each item, ndx in menuItems 
                li.menu__item
                  a(href=ids[ndx]).menu__link #{item}
          
          - var socials = [['insta', 'https://www.instagram.com/'], ['github', 'https://github.com/Fanis-Rakhmatullin'], ['vk', 'https://vk.com/'], ['envelope', 'mailto:faniskin1@gmail.com']]
          ul.socials.socials--header--tablet
            each item in socials 
              li.socials__item
                a(href=item[1]).socials__link
                  +icon(item[0], 'socials__icon')

          a.hamburger-btn(href="#")
            +icon('menu', 'hamburger-btn__icon')

        .hero__center-content
          .userinfo 
            .userinfo__title Личный сайт#[br]веб разработчика
            h1.userinfo__name Фанис Рахматуллин

        .hero__bottom-text 
          a.scroll-down-btn(href='#about') Давайте знакомиться
          
    section.about(id='about')
      .container.about__container
        .about__user
          .user
            .user__avatar
              .user__avatar-style
                +image('content/user.jpg', 'user__avatar-pic')
            
            -
              var userInfo = [
                ['Проживаю','Москва'],
                ['Возраст','25 лет'],
                ['Родился','13 ноября 1995']
              ];

            table.user__data
              each item in userInfo 
                tr.user__data-row
                  td.user__data-title #{item[0]}
                  td.user__data-content #{item[1]}
        .about__content
          .about__desc Привет, меня зовут
          h2.about__title Рахматуллин Фанис
          .about__text-info 
            p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          .about__ps 
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .middle-section
    .triangles.middle-section__triangles-top
      svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles__shape.triangles__shape--position--left
        polygon(points='0,0 0,100 1000,100')
      svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles__shape.triangles__shape--position--right
        polygon(points='0,100 1000,100 1000,0')
    section.values(id='skills')
      .container.values__container
        .values__title-wrapper  
          .values__title
            h2.values__title-text Чем я могу быть полезен вам
            .values__content 
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .values__widget
          .values__widget-container
            #skills-component
    section.works(id='works')
      .container.works__container
        h2.section-title.works__title Мои работы
        .works__content
          #preview-component
    .triangles.middle-section__triangles-bottom.triangles--pointed-down
      svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles__shape.triangles__shape--position--left
        polygon(points='0,0 0,100 1000,100')
      svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles__shape.triangles__shape--position--right
        polygon(points='0,100 1000,100 1000,0')
  section.reviews(id='reviews')
    .container.reviews__container
      #slider-component
  footer.footer
    .container.footer__container
      .footer__copyright
        .footer__copyright-year &copy; 2020
        .footer__copyright-content
          .footer__copyright-name Фанис Рахматуллин
          .footer__copyright-text Личный сайт веб - разработчика
      .footer__data  
        .footer__menu
          nav.menu.menu--color--white.footer__menu-elem
            ul.menu__list.footer__menu-list
              each item, ndx in menuItems 
                li.menu__item
                  a(href=ids[ndx]).menu__link #{item}
        .footer__content
          .footer__content-info
            .footer__content-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__socials
              ul.socials.socials--round
                each item in socials 
                  li.socials__item
                    a(href=item[1]).socials__link
                      +icon(item[0], 'socials__icon')
          .text-quote.footer__content-quote
              .text-quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              .text-quote__author Martin Golding
  
  .hamburger
    a(href='').hamburger__close
      +icon('cross', 'hamburger__close-icon')

    nav.menu.menu--hamburger.hamburger__menu
      ul.menu__list
        - var menuItems2 = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы']
        - var ids2 = ['#homepage', '#about','#skills','#works','#reviews']
        each item, ndx in menuItems2 
          li.menu__item
            a(href=ids2[ndx]).menu__link #{item}

    .hamburger__socials
      ul.socials.hamburger__socials-list
        each item in socials 
          li.socials__item
            a(href=item[1]).socials__link
              +icon(item[0], 'socials__icon')
        